<!DOCTYPE html>
<html lang="zh-ch" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="div0">
            <table id="fruit_tbl">
                <tr>
                    <th class="w25">名称</th>
                    <th class="w25">单价</th>
                    <th class="w25">库存</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(session.fruitList)}">
                    <td colspan="4">对不起所没有查到数据</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(session.fruitList)}" th:each="fruit:${session.fruitList}">
                    <td th:text="${fruit.fname}">苹果</td>
                    <td th:text="${fruit.price}">5</td>
                    <td th:text="${fruit.fcount}">50</td>
                    <td><input type="button" value="删除"/></td>
                </tr>

            </table>
        </div>
    </body>
</html>